.infoTitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: center;
  color: #949494;
}

.info {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: center;
  color: #949494;
}
