.App {
  width: 100%;
  text-align: center;
}

.invisible {
  display: none;
}

.visible {
  height: 125px;
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 23px;
  letter-spacing: -0.7px;
  color: #4d4d4d;
}

.visible div {
  margin-top: 35px;
  margin-bottom: 35px;
}

.visible hr {
  width: 280px;
  border: solid 0.5px #ededed;
  margin: auto;
}

.visible span {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -0.7px;
  color: #3991ff;
}
